[submodule "thirdparty/doctest"]
	path = thirdparty/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb
[submodule "thirdparty/tomlplusplus"]
	path = thirdparty/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
